@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&family=Kosugi+Maru&family=Source+Sans+Pro:wght@600&display=swap'); h1 {
    font-size: 0;
}

:root {
    --price-color: #a9c623;
    --buy-now-color: #f69946;
}

.logo-img {
    width: 189px;
}

.about-shop, .home {
    max-width: 1280px;
    margin: auto;
}

.home {
    padding: 30px;
}

.burger-checkbox {
    display: none;
}

.burger-icon {
    margin: 0 0 0 20px;
}

.navup {
    display: none ;
    margin: 0 0 0 100px;
}

.heading {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.heading input:checked ~ .navup {
    display: block;
}

.logo {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
}

.navheader {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 5px;
}

.navheader:hover {
    color: var(--buy-now-color);
    transition: color 0.4s;
}

.heading {
    margin: auto;
}

@media (min-width: 500px) {
    .heading {
        display: flex;
    }

    header label {
        display: none;
    }

    .heading .navup {
        display: flexbox;
        flex: 1;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }
}

.about-shop-backgraund {
    background-image: url(../fonimg/fon-about-shop.webp);
    background-size: cover;
    align-content: center;
    padding: 180px 0 180px 0;
}

.about-shop-footer {
    background-image: url(../fonimg/fon-about-shop-footer.webp);
    background-size: cover;
    align-content: flex-start;
    padding: 40px 0 40px 0;
}

.about-shoptxt {
    color: var(--buy-now-color);
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 14px;
    margin: 0 0 0 40px;
}

.groceries-text {
    color: var(--price-color);
    font-size: 72px;
    font-family: 'Istok Web', sans-serif;
    margin: 0 100px 0 40px;
}

.onlinehere-text {
    color: black;
    font-size: 72px;
    font-family: 'Istok Web', sans-serif;
    margin: 0 100px 40px 40px;
}

.about-shop-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 40px;
}

.greenbuttonshop {
    border: 2px solid var(--price-color);
    border-radius: 3px;
    padding: 21px;
    color: white;
    background-color: var(--price-color);
    text-decoration: none;
    margin: 10px 20px 0 0;
}

.greenbuttonshop:hover {
    color: black;
    background-color: var(--price-color);
    transition: color 0.6s;
}

.buttontryapp {
    border: 2px solid var(--price-color);
    border-radius: 3px;
    padding: 21px;
    color: var(--buy-now-color);
    text-decoration: none;
    margin: 10px 0 0 0;
}

.buttontryapp:hover {
    color: white;
    background-color: var(--price-color);
    transition: color 0.6s;
}

.advantage {
    display: flex;
    flex: 1;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 0;
    max-width: 1280px;
    margin: auto;
}

.shop-mini p {
    display:block;
    text-align: center;
}

.shop-mini-svg {
    display: block;
    width: 100px;
}

#about-art {
    display: flex;
    flex: 1;
    flex-wrap:wrap;
    max-width: 1280px;
    margin: auto;

}
.about {
    display: flexbox;
    flex: 1;
    flex-wrap:wrap;
    justify-content: space-between;
    /*max-width: 500px;*/

}

.checkmark {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.checkmark-block {
    display: flex;
    flex: 1;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 0;
    /*max-width: 500px;*/
}

.about-svg {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    max-width: 20px;
    max-height: 20px;
    margin: auto;
}

.checkmark p {
    display: flex;
    flex: 1;
    flex-wrap:wrap;
    justify-content: space-between;
}

.about-img img {
    max-width: 500px;
}

.timer {
    background-image: url(../fonimg/timer.webp);
    background-repeat: repeat;
    background-size: cover;
    background-position:left;
    height: 40vh;
    color: #fff;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 50px;
    overflow: hidden;
    max-width: 1280px;
    margin: auto;

}

.timer p {
    margin: 20px 0 50px 0;
}

.timer h2 {
    margin: 10px 0 10px 0;
}

.countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: scale(2);
  }
  
  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }
  
  .time h2 {
    margin: 0 0 5px;
  }
}

.hiw-block {
    display: flex;
    flex: 1;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 0;
    max-width: 1280px;
    margin: auto;
}

.hiw-svg {
    width: 100px;
}

.freshimg {
    width: 210px
}

.why-choose-img {
    width: 70px
}

.week-deals-img {
    width: 203px;
}

