@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&family=Kosugi+Maru&family=Source+Sans+Pro:wght@600&display=swap'); h1 {
    font-size: 0px;
}

.logo-img {
    width: 189px;
}
body {
    max-width: 1280px;
    margin: auto;
}
#home {
    padding: 30px;
}
#burger-checkbox {
    display: none !important;
}
#navup {
    display: none;
}
  
.heading input:checked ~ #navup {
    display: block;
}
.logo {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
}
.navheader {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 5px;
}
.navheader:hover {
    color: #f69946;
    transition: color 0.4s;
}
.heading {
    margin: auto;
}
@media (min-width: 500px) {
    .heading {
      display: flex;
    }
    header label {
        display: none;
    }
    #navup  {
        display: flex !important;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }
}
   

#about-shop {
    background-image: url(../fonimg/fon-about-shop.webp);
    background-size: cover;
    align-content: center;
    padding: 180px 0px 180px 50px;
}

.about-shoptxt {
    color: #f69946;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 14px;
}

.groceries-text {
    color: #a9c623;
    font-size: 72px;
    font-family: 'Istok Web', sans-serif;
    margin: 0px 100px 0px 20px;
}

.onlinehere-text {
    color: black;
    font-size: 72px;
    font-family: 'Istok Web', sans-serif;
    margin: 0px 100px 40px 20px;
}

#greenbuttonshop {
    border: 2px solid #a9c623;
    border-radius: 3px;
    padding: 21px;
    color: white;
    background-color: #a9c623;
    text-decoration: none;
}

#greenbuttonshop:hover {
    color: black;
    background-color: #a9c623;
    transition: color 0.6s;
}

#buttontryapp {
    border: 2px solid #a9c623;
    border-radius: 3px;
    padding: 21px;
    color: #f69946;
    text-decoration: none;
}

#buttontryapp:hover {
    color: white;
    background-color: #a9c623;
    transition: color 0.6s;
}

.shop-mini-svg {
    width: 100px;
}

.about-svg {
    width: 20px;
}

.hiw-svg {
    width: 100px
}

.freshimg {
    width: 210px
}

.why-choose-img {
    width: 70px
}

.week-deals-img {
    width: 203px;
}